@import url("https://fonts.googleapis.com/css2?family=Creepster&family=Signika+Negative&display=swap");
#contact-form {
  background: linear-gradient(
    to bottom,
    #000000 0%,
    #000000 50%,
    #ff8c00 100%
  );
  background-image: url("../img/contactForm/contact-form-img-small.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 0;
  color: #fff;
}

.footer-container {
  margin-top: auto;
}

/* ======== Media queries ======== */
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  #contact-form {
    background-image: url("../img/contactForm/contact-form-img.jpg");
    background-position: right;
  }
}
