
 body {
  background-color:#090A0B;
}
h2 {
  font-family: Creepster;
  color:#39FF14;
  font-size: 60px;
  transition: all 0.3s;
}
h2:hover {
  filter: drop-shadow(0 0 10px #39ff14) 
          drop-shadow(0 0 20px #39ff14);
}
p {
  font-family: 'Signika Negative';
  font-size: 20px;
}
a {
  font-family: 'Signika Negative';
  font-size: 20px;
}
 #map {
    height: 100%;
    width: 80%;
    left: 10%;
    border-radius: 5px;
  }
  @media screen and (max-width: 720px) {
    #map {
      height: 100%;
      width: 100%;
      left: 0;
    }
  }
 
  .relative-position {
    position: relative;
  }
  
  .overlay-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:auto;
    object-fit: cover; 
    opacity: 0.5; 
    z-index: -1; 
  }


  
  
  
  
  
