/* ======== Footer ======== */
.footer-img {
  background-color: transparent;
  background-image: url("../img/footer-pumpkins.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  min-height: 150px;
  width: 100%;
}

.footer-container {
  display: flex;
}

.social-networks {
  display: flex;
  justify-content: center;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 5px;
  width: 100%;
}

.social-networks ul {
  padding: 0;
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
}

.social-networks li {
  margin: 0 auto;
  padding: 0;
  font-size: 200%;
  margin: 0 10px;
}

.footer-content-container {
  display: flex;
  align-items: flex-end;
}

.footer-credits {
  color: #39ff14;
  padding-right: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-icon i {
  transition: all 0.5s;
  color: #39ff14;
  opacity: 0.8;
  font-size: 28px;
}

.footer-icon i:hover {
  filter: drop-shadow(0 0 10px #39ff14) drop-shadow(0 0 20px #39ff14);
  opacity: 1;
  transform: translateY(-20%);
}

.form-control {
  background-color: rgba(255, 255, 255, 0.3);
  border: 2px solid #ff8c00;
  color: #000;
}

.dark-text {
  color: #000;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .footer-img {
    min-height: 200px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .footer-img {
    min-height: 250px;
  }
}

/* Extra large devices (large laptops and desktops, 1400px and up) */
@media only screen and (min-width: 1400px) {
  .footer-img {
    min-height: 350px;
    max-width: 90%;
    padding: 0 50;
    margin: 0 auto;
  }
}
/* Extra extra large devices (4k, 2500px and up) */
@media only screen and (min-width: 2500px) {
  .footer-img {
    min-height: 350px;
    max-width: 75%;
    padding: 0 50;
  }
}
