/* -------------------------
GALLERY
---------------------------- */

/* Gallery page background */
#gallery-bg {
  background-image: url("../img/g-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

/* Gallery footer */
.footer-container {
  margin-top: auto;
}

/* Gallery title */
.bar {
  height: 12.5vh;
}

.gallery-title {
  line-height: 12.5vh;
  display: inline-block;
  /* vertical-align: baseline; */
}

.gallery-title {
  transition: all 0.5s;
  color: #39ff14;
  opacity: 1;
  letter-spacing: 4px;
  font-size: 4rem;
}

/* Gallery image */
.img-gallery {
  height: auto;
  width: 100%;
  vertical-align: baseline;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  object-fit: contain;
  transition: all .2s;
  background-color: rgb(173, 173, 237);
  border-radius: 10px;
  border: 1px solid black;
  cursor: pointer;
}

.div-img {
  justify-content: center;
  align-items: center;
  display: flex;
  padding-top: 20%;
}

.img-gallery:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 8px #39ff14);
}

/* Carousel */

#carousel {
  display: none;
  width: 60%;
}

#carousel:hover {
  filter: drop-shadow(0 0 8px #39ff14);
}

/* Cursor */

.pointer {
  cursor: pointer;
}

/* -----------------------------------
ANIMATINO
------------------------------------- */
#witch {
  /* scale: 10%; */
  position: relative;
  cursor: pointer;
  object-fit: cover;
}

#witch-box {
  margin: 0;
  padding: 0;
  display: none;


}

/* ----------------------------
MEDIA QUERIES
-------------------------------- */

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  #gallery-bg {
    /* background-image: none; */
    background: url(../img/g-bg.jpg);
  }

  /* linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.7) 100%), */
  #carousel {
    width: 90%;
  }
}

@media only screen and (max-height: 500px) {
  #carousel {
    width: 50%;
  }

  .bar {
    height: 20vh;
  }

  .gallery-title {
    line-height: 20vh;
  }
}